.logos{
  width:200px;
  margin-left: 32px;
}

.bootcamp{
  text-align: center;
}

.bootcamp_image{
  vertical-align: middle;
  margin-top: 25px;
}

.form-control {
  margin: 0 auto !important;
  width: 85% !important;
}

.for-comments {
  font-size: 18px !important;
  width: 85% !important;
  margin: 10px auto !important;
  border-radius: 3px !important;
  border-color: lightgrey !important;
  border-width: 1px !important;
  border-style: solid !important;
  height: 100% !important;
  padding: 15px !important;
  background-color: white !important;
}

@media (max-width: 991px) {
  .logos {
    margin-left: 0px;
  }
}