html {
  height: 100%;
  width: 100%;
  table-layout: fixed;
  display: table;
}

body {
  background-image: url(http://images.adsttc.com/media/images/53d7/acc1/c07a/8059/5e00/01ab/large_jpg/Skyline2_low_res.jpg?1406643371);
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
}

.background-transparent {
  height: 100vh;
  /* background-color: rgba(0,0,0,0.3); */
}

h2 {
  color: white;
  font-size: 4.5em;
  text-shadow: 0 0 5px black;
}

h3 {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

h4 {
  font-size: 16px;
}

label {
  font-size: 1.3em;
}

.modal-title {
  font-size: 1.6em !important;
}

.form-control {
  font-size: 1.3em;
}

.btn-default {
  font-size: 1.3em;
  background-color: teal;
  color: white;
}

.btn-default:hover {
  background-color: #31b0d5;
  color: white;
}

.modal-content {
  max-width: 420px;
  margin: 0 auto;
}

.landing-container {
  padding: 100px 0;
  max-width: 340px;
  width: 100%;
  border-radius: 5px;
}

.user-container {
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  background-color: rgba(255,255,255,0.9);
  padding: 20px 10px 15px;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  border-radius: 5px;
}

.landing-btn {
  max-width: 200px;
  width: 100%;
  display: block;
  clear: both;
  margin: 15px auto;
  font-size: 20px;
  background-color: teal;
}

.buttons {
  max-width: 300px;
  width: 100%;
  display: block;
  clear: both;
  margin: 15px auto;
  font-size: 20px;
  background-color: teal;

}

.btn-center {
  margin: 0 auto;
}

.container-padding {
  margin: 0 10px;
}

@media (max-width: 900px) {
  body {
    background-size: 200%;
  }
}

@media (max-width: 550px) {
  body {
    background-size: 400%;
    background-position: 52% 0%;    
  }
}

/* ------------------ User Display ------------------------*/
.image-cropper {
  max-width: 300px;
  margin: 0 auto;
  height: auto;
  position: relative;
  overflow: hidden;
}
  
  .image-cropper img{
    display: block;
    margin: 5px auto 0;
    height: auto;
    width: 100%; 
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;  
  }

  .margin-fix {
    left: 34px;
  }

  #center-text {
    text-align: center;
  }

  hr {
    height: 2px;
    background-color: lightgrey;
  }
/* ------------------ User Display END -------------------*/

@media (max-width: 991px) {
  h4 {
    text-align: center;
  }
  .margin-fix {
    left: 0;
  }
}